body {
    margin: 20px;
    font-family: Garamond, Geneva, Brush Script MT, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #219EBC;
    color: #2b2839;
    border-bottom: 6px dotted #d8cefe;
}

.border-blue {
    border: 1px dotted blue;
}
 img {
     border: 5px solid red;
     border-radius: 100%;
 }
